*.pyc
.idea\
*.iml
*.xml
*\__pycache__\*
venv
tips
.idea/
__pycache__/
base_api/__pycache__/
base_api/elaticsearch_api/__pycache__/
base_api/subgraph/__pycache__/
base_api/user/__pycache__/
demo/__pycache__/
document/__pycache__/
document/migrations/__pycache__/
es_module/__pycache__/
es_module/migrations/__pycache__/
record/__pycache__/
record/migrations/__pycache__/
subgraph/__pycache__/
*/migrations/*
subgraph/migrations/__pycache__/
subgraph/script/__pycache__/
tools/__pycache__/
tools/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
