aliyun-python-sdk-core==2.13.14
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.9.0
aliyun-python-sdk-sts==3.0.1
appdirs==1.4.3
asgiref==3.2.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
crcmod==1.7
cryptography==2.8
distlib==0.3.0
Django==3.0.3
elasticsearch==7.5.1
filelock==3.0.12
idna==2.9
importlib-metadata==1.5.0
jmespath==0.9.4
pyjwt==1.7.1
langdetect==1.0.7
neobolt==1.7.16
neotime==1.7.4
numpy==1.18.1
oss2==2.9.1
prompt-toolkit==2.0.10
psycopg2==2.8.4
py2neo==4.3.0
pycparser==2.19
pycryptodome==3.9.6
Pygments==2.3.1
pytz==2019.3
redis==3.4.1
regex==2020.2.18
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.26.5
virtualenv==20.0.4
virtualenv-clone==0.5.3
wcwidth==0.1.8
zipp==3.0.0
